<form name="searchForm" role="form" class="form-inline" style="margin-bottom: 5px; margin-top: 5px;" ng-submit="uc.search(searchForm)">
    <span ng-fields="uc.searchFields" ng-model="uc.searchForm" ng-init="uc.copyOriginalForm()">
        <div class="form-group"style="margin-right: 20px">
            <label class="control-label"></label>:
            <input type="text" class="form-control" />
        </div>
    </span>
    <button type="submit" class="btn btn-primary">查询</button>
    <button type="reset" class="btn btn-default" ng-click="uc.resetForm(searchForm)">重置</button>
</form>
